<button title="Back" mat-mini-fab color="primary" routerLink="/accounts" >
  <mat-icon>keyboard_backspace</mat-icon>
</button>
<mat-card>
  <label>
    Account Name:
    <mat-form-field>
      <input matInput type="text" placeholder="Account Name" [(ngModel)]="accountName">
    </mat-form-field>
  </label>
  <br>
  <label>
    Amount:
    <mat-form-field>
      <input matInput type="Number" [(ngModel)]="amount">
    </mat-form-field>
  </label>
  <br>
  <button id="btnSave" mat-button type="submit" (click)="save()">Save</button>
</mat-card>

<!---
<br>
    <label>
      Customers:
      <mat-form-field appearance="fill">
        <mat-label>Accounts</mat-label>

<mat-select [(value)]="selectedAccount">
  <mat-option *ngFor="let a of accounts" formControlName="account">{{a.accountName}} {{a.id}}</mat-option>
</mat-select>
</mat-form-field>
</label>
-->
